.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-top: 0.14rem solid rgba(195, 195, 195);
  gap: 1rem;
  color: white;
}

.cover {
  object-fit: contain;
  overflow: hidden;
  padding: 0;
  min-width: 72px;
  max-width: 72px;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  row-gap: 0.6rem;
}

.title {
  font-size: 1.2em; 
}

.title em {
  font-style: normal;
  color: rgb(255, 156, 202);
  animation: 2s ease-in-out alternate infinite colorshift;
}

@keyframes colorshift {
  0% {
    color: rgb(255, 156, 202);
  }
  100% {
    /* color: rgb(136, 223, 255); */
    color: rgb(149, 213, 255);
  }
}

.true_title {
  font-size: 1em;
  color:rgb(181, 181, 181);
  margin-top: -0.6rem;
}

.source {
  font-size: 1em;
  margin-top: auto;
}

.fileInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-shrink: 0;
}

.size {
  font-size: 1em;
}

.extension {
  font-size: 0.9em;
}

