.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.heading {
  margin-top: 1rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
}

.searchBar {
  margin-top: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}

.searchSwitch {
  margin-top: 0.5rem;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchResultsList {
  margin-top: 2rem;
  width: 100%;
  max-width: 50rem;
  min-height: 0%;
  max-height: 100vh;

  overflow: scroll;

  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  -o-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.searchResultsList::-webkit-scrollbar {
  display: none;
}
