.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchBar input {
  width: 100%;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: inherit;
  text-shadow: inherit;
  font-size: 18px;
  text-align: center;
  line-height: 1em;
}

.searchBar input:focus {
  outline: none;
}

.searchBar input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.searchBar input:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

.line {
  width: 66rem;
  height: 1rem;
  margin-top: 0.5rem;
}
